body{
    background: #efefef;
}

.Navigation{
    display: flex;
    align-items: center;
    background-color: #b0d7ff;
    position: relative;
    height: 93px;
}

.nav{
    position: absolute;
    right: 100px;
}

.Navigation .icon{
    margin-left: 50px;
    height: 80px;
    width: 80px;
}

.Navigation a{
    font-size: 20px;
    color:white;
}


.Navigation a:hover{
    font-size: 20px;
    color: #e19e67;
}

.Navigation li:hover{
    font-size: 20px;
    background-color: white;
}

.Navigation li{
    background-color: #e19e67;
    margin: 10px;
    border-radius: 10px;
}


.main_content{
    height: fit-content;
    margin-top: 50px;
}

.filter_menu{
    width: 300px;
    margin-left: 50px;
    padding: 5px;
    background-color:white;
    display: flex;
    align-items: start;
    overflow: hidden;
    border: 1px solid;
    height: fit-content;
}

.bunny_showcase{
    position: relative;
    left: 10%;
}

.showcase_card{
    margin: 24px 24px 24px 0;
    display: inline-block;
    width: 300px;
    height: 400px;
    background-color: white;
}

footer{
    background-color: #b0d7ff;
    height: 269px;
}

.FooterBox  {
    text-align: left;
    padding: 30px 0 0 30px;
}

.FooterBox .left {
    width: 30%;
}

.FooterBox .right {
    width: 70%;
}