
/* ------------------ Global ------------------ */

*{
    box-sizing: border-box;
}

body{
    background: #efefef;
    
    font-size: 16px;
    font-family: sans-serif, Helvetica, Arial;
    margin: 0;
}

.sr-only{
    display: none;
}

/* ------------------ Navigation ------------------ */
.navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #b0d7ff;
    height: 15vh;
    padding: 0 20px;
}



.navbar-brand{
    margin-left: 50px;
    height: 80px;
    width: 80px;
}

.collapse.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler{
    margin-right: 30px;
}

.nav-item a{
    line-height: 100%;
    color:white;
}


.nav-item a:hover{
    
    color: #e19e67;
}

.nav-item:hover{
    
    background-color: white;
}

.nav-item{
    width: 100px;
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    height: 50px;
    background-color: #e19e67;
    margin: 10px;
    border-radius: 10px;
}

/* ------------------ Hero ------------------ */

.Hero{
    
    height: 80vh;
    background-image: url(asset/index/images/AboutUs.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.Title{
    margin-bottom: 60px;
}

.Title h1{
    font-weight: bold;
}


.Hero button{
    margin-right: 50px;
    height: 60px;
    border-radius: 25px;
    border: 0;
    background-color: #e19e67; 
}

.Hero button:hover{
    background-color: white;
    color: #e19e67;
}

/* ------------------ About Us ------------------ */

.About_Us{
    margin: 70px 0;
    padding: 10px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.About_Us .container{
    
    height: auto;
    width: 700px;
    
}
.About_Us img{
    width: 80%;
    height: auto;
}

.About_Us .Text{
    
    padding: 0 30px;
    height: auto;
    
}



/* ------------------ Event and News ------------------ */
.Event_News{
    margin: 70px 0;
    height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Event_News h2{
    margin-bottom: 20px;
}

.Event .container{
    
    height: auto;
    width: 700px;
    
}

.Event img{
    height: 50%;
    width: 80%;
    object-fit: cover;
}

.Event caption{
    height: 50%;
    width: 100%;
}

.Event caption h3,p{
    margin-top: 10px;
}

.News ul{
    padding: 0;
}


.News .item{
    
    height: auto;
    margin-top: 10px;
    background-color:azure;
    list-style: none;
    padding: 10px;
}

/* ------------------ Footer ------------------ */

footer{
    background-color: #b0d7ff;
    height: 269px;
}

footer h2{
    font-weight: bold;
}

.FooterBox  {
    text-align: left;
    padding: 30px 0 0 30px;
    margin-left: 10px;
}

.FooterBox .left {
    width: 30%;
    
}

.FooterBox .right {
    width: 70%;
}

.contact-list{
    padding: 0;
}

.contact-list .item{
    list-style: none;
    
}

.contact-list a{
    text-decoration: none;
    color: #0f3680;
}

.contact-list a:hover{
    text-decoration: underline;
    color: #f3f8ff;
}