*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow-x: hidden;
    background: #f3f4f6;
}

.main-content{
  margin-left: 270px;
  padding: 40px;
  width: calc(100% - 270px);
  transition: margin-left 0.5s ease;
  background: #f3f4f6;
}

/*#region text */

.biggerText{
    font-size: 64px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: normal;
    font-weight: 400;
}

.bigText{
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: normal;
    font-weight: 400;
}

.mediumText{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: normal;
    font-weight: 400;
}

.smallMediumText{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: normal;
    font-weight: 400;
}

.smallText{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: normal;
    font-weight: 400;
}
/* #endregion */

/*#region button*/
.primary-button{
    background-color: #1f2e6c;
    max-width: 200px;
    width: 130px;
    height: 50px;
    color:#ffffff;
}


.secondary-button{
    background-color: #fff7d0;
    max-width: 200px;
    width: 130px;
    height: 50px;
    color:#0a1127;
}

.danger-button{
    background-color: #b10707;
    max-width: 200px;
    width: 130px;
    height: 50px;
    color:#ffffff;
}

/*#endregion*/

/*#region search area*/

.search-area{
  width: 100%;
  height: 60px;
  margin: 20px 0;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 30px 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

.search-bar{
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  height: 90%;
  padding: 8px 15px;
  max-width: 300px;
  width: 100%;
  
}

.search-icon{
  margin-right: 8px;
  font-size: 1.2em;
}

.search-input{
  border: none;
    outline: none;
    width: 100%;
    font-size: 1em;
    margin-bottom: 0px;
    height: 90%;
    
}

/*#endregion*/

/*#region table */


.table {
  vertical-align: middle;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table img{
  width: 100px;
  height: 100px;
}

.table th{
  background-color: #e4f8ff;
}

.table .Name{
  font-weight: bold;
}

.button-group .btn{
  margin-right: 50px;
}




/*#endregion */

/*#region pagination */
.pagination-area{
    display: flex;
    justify-content: end;
}


/*#endregion*/

/*#region modal */


  
  /* Modal container */
  
  .modal {
    display: block;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateY(-20px); 
    animation: slideDown 0.4s ease-out forwards;
    
  }
  

  @keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

.modal-dialog {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: auto;
  max-width: 800px;
  padding: 15px;
}


.modal-content {
  height: fit-content;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  animation: fadeIn 0.3s ease-in-out;
  overflow: auto;
}

.modal .modal-content-long{
  height: 600px;
}


.form-group .selection{
  display: inline-block;
}
  
  
.modal textarea{
  width: 100%;
}
 




/*#endregion*/


